<%= form_for(@line_of_credit) do |f| %>
  <% if @line_of_credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_of_credit.errors.count, "error") %> prohibited this line_of_credit from being saved:</h2>

      <ul>
      <% @line_of_credit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :apr %><br>
    <%= f.text_field :apr %>
  </div>
  <div class="field">
    <%= f.label :credit_limit %><br>
    <%= f.text_field :credit_limit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
