<p id="notice"><%= notice %></p>

<h1>Listing Line Of Credits</h1>

<table>
  <thead>
    <tr>
      <th>Apr</th>
      <th>Credit limit</th>
      <th>Principal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_of_credits.each do |line_of_credit| %>
      <tr>
        <td><%= line_of_credit.apr %></td>
        <td><%= line_of_credit.credit_limit %></td>
        <td><%= line_of_credit.principal %></td>
        <td><%= link_to 'Show', line_of_credit %></td>
        <td><%= link_to 'Edit', edit_line_of_credit_path(line_of_credit) %></td>
        <td><%= link_to 'Destroy', line_of_credit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line of credit', new_line_of_credit_path %>
