<div id="line_of_credit_id", data-id='<%="#{@line_of_credit.id}"%>'></div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Apr:</strong>
  <%= number_to_percentage @line_of_credit.apr %>
</p>

<p>
  <strong>Credit Available:</strong>
  <%= "#{number_to_currency @principal_balance} of #{number_to_currency @line_of_credit.credit_limit}" %>
</p>

<p>
  <strong>Credit Line Opened:</strong>
  <%= @line_of_credit.created_at.to_date.to_s(:long) %>
</p>

<p>
  <strong>Interest at 30 days:</strong>
  <%= number_to_currency @thirty_day_interest %>
</p>

<p>
  <strong>Total Payoff at 30 days:</strong>
  <%= number_to_currency @total_payoff %>
</p>

<hr>

<%= render partial: 'transactions/transaction_form', locals: {line_of_credit: @line_of_credit} %>
<%= render partial: 'transactions/transactions_table', locals: {transactions: @transactions} %>

<%= link_to 'Back', line_of_credits_path %>


