<tr>
  <td><%= TimeDifference.between(transaction.line_of_credit.created_at, transaction.applied_at).in_days.to_i %></td>
  <td><%= transaction.type %></td>
  <td><%= number_to_currency transaction.amount %></td>
  <td><%= number_to_currency transaction.line_of_credit.principal_balance(transaction.applied_at) %></td>
  <td><%= number_to_currency transaction.line_of_credit.current_interest(transaction.applied_at) %></td>
  <td><%= link_to 'Remove', transaction_path(transaction.id), method: :delete, class: 'delete-transaction' %></td>
</tr>