<div id="transaction_form">
  <%= form_for(:transaction, url: { controller: 'transactions', action: "create" }, remote: true) do |f| %>
    <div id="error_holder"></div>
    <%= f.hidden_field :line_of_credit_id, value: line_of_credit.id %>

    <div class="field">
      <%= f.label :type %><br>
      <%= select( :transaction, :type, options_for_select(["Draw", "Payment"]) ) %>
    </div>
    <div class="field">
      <%= f.label :amount %><br>
      <%= f.number_field :amount %>
    </div>
    <div class="field">
      <%= f.label :applied_at_day %><br>
      <%= select(:transaction, :applied_at, options_for_select(1..30)) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>