<table id="transactions_table">
  <thead>
    <tr>
      <th>Day</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Principal Balance</th>
      <th>Interest Accrued</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'transactions/transaction', collection: transactions %>
  </tbody>
</table>