<p id="notice"><%= notice %></p>

<p>
  <strong>Line of credit:</strong>
  <%= @transaction.line_of_credit %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transaction.type %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
