<!DOCTYPE html>
<html>
<head>
  <title>Credit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller_name %> <%= action_name %>">

<%= yield %>

</body>
<footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</footer>
</html>
